<h2>Home</h2>
<nav>
    <ul>
        <li>
            <button>
                <img src="assets/home.svg" />
                Start
            </button>
        </li>
        <li>
            <button>
                <img src="assets/search.svg" />
                Suche
            </button>
        </li>
        <li>
            <button (click)="newincident()">
                <img src="assets/new.svg" />
                Neu
            </button>
        </li>
        <li>
            <button>
                <img src="assets/near.svg" />
                In der Nähe
            </button>
        </li>
        <li>
            <button>
                <img src="assets/user.svg" />
                Ich
            </button>
        </li>
    </ul>
</nav>